<div class="container grid-margins">
<section class="panel">
    <!-- <header class="panel-heading">
        Striped Table
    </header> -->
    <table class="table">
        <thead>
            <tr>
                <th><div class="table-header-bg">Getting Started</div></th>
                <th><div class="table-header-bg">Developers</div></th>
                <th><div class="table-header-bg">Administrators</div></th>
                <th><div class="table-header-bg">Reference</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="rounded"><i class="fa fa-heart"></i>&nbsp;Demonstrations</div></td>
                <td><a href="{{ site.url }}/how-to/javascript" class="grid-link"><div class="rounded"><i class="fa fa-html5"></i>&nbsp;HTML5</div></a></td>
                <td><div class="rounded"><i class="fa fa-lock"></i>&nbsp;Security</div></td>
                <td><div class="rounded"><i class="fa fa-html5"></i>&nbsp;HTML5</div></td>
            </tr>
            <tr>
                <td><div class="rounded"><i class="fa fa-book"></i>&nbsp;Tutorials</div></td>
                <td><div class="rounded"><i class="fa fa-laptop"></i>&nbsp;Java</div></td>
                <td><div class="rounded"><i class="fa fa-dashboard"></i>&nbsp;Monitoring</div></td>
                <td><div class="rounded"><i class="fa fa-laptop"></i>&nbsp;Java</div></td>
            </tr>
            <tr>
                <td><div class="rounded"><i class="fa fa-terminal"></i>&nbsp;Console</div></td>
                <td><div class="rounded"><i class="fa fa-windows"></i>&nbsp;.NET/Silverlight</div></td>
                <td><div class="rounded"><i class="fa fa-cubes"></i>&nbsp;Clustering/HA</div></td>
                <td><div class="rounded"><i class="fa fa-windows"></i>&nbsp;.NET/Silverlight</div></td>
            </tr>
            <tr>
                <td><a href="{{ site.url }}/how-to/amazon-ec2" class="grid-link"><div class="rounded"><i class="fa fa-cloud"></i>&nbsp;Amazon EC2</div></a></td>
                <td><div class="rounded"><i class="fa fa-eye"></i>&nbsp;Flash/Flex</div></td>
                <td><div class="rounded"><i class="fa fa-desktop"></i>&nbsp;Server API</div></td>
                <td><div class="rounded"><i class="fa fa-eye"></i>&nbsp;Flash/Flex</div></td>
            </tr>
        </tbody>
    </table>

<p></p>
</section>
</div>
