<div class="container grid-margins">
<section class="panel">
    <!-- <header class="panel-heading">
        Striped Table
    </header> -->
    <table class="table">
        <thead>
            <tr>
                <th><div class="table-header-bg">Getting Started</div></th>
                <th><div class="table-header-bg">Developers</div></th>
                <th><div class="table-header-bg">Administrators</div></th>
                <th><div class="table-header-bg">Reference</div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="rounded">Demonstrations</div></td>
                <td><a href="{{ site.url }}/how-to/javascript" class="grid-link"><div class="rounded">JavaScript</div></a></td>
                <td><div class="rounded">Security</div></td>
                <td><div class="rounded">JavaScript</div></td>
            </tr>
            <tr>
                <td><div class="rounded">Tutorials</div></td>
                <td><div class="rounded">Java</div></td>
                <td><div class="rounded">Monitoring</div></td>
                <td><div class="rounded">Java</div></td>
            </tr>
            <tr>
                <td><div class="rounded">Console</div></td>
                <td><div class="rounded">.NET/Silverlight</div></td>
                <td><div class="rounded">Clustering/HA</div></td>
                <td><div class="rounded">.NET/Silverlight</div></td>
            </tr>
            <tr>
                <td><a href="{{ site.url }}/how-to/amazon-ec2" class="grid-link"><div class="rounded">Amazon EC2</div></a></td>
                <td><div class="rounded">Flash/Flex</div></td>
                <td><div class="rounded">Server API</div></td>
                <td><div class="rounded">Flash/Flex</div></td>
            </tr>
        </tbody>
    </table>

<p></p>
</section>
</div>
