<div class="container grid-margins">
<section class="panel">
    <!-- <header class="panel-heading">
        Striped Table
    </header> -->
    <table class="table table-striped table-left">
        <thead class="table-header-bg">
            <tr>
                <th>Getting Started</th>
                <th>Developers</th>
                <th>Administrators</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Demonstrations</td>
                <td>JavaScript</td>
                <td>Security</td>
                <td>JavaScript</td>
            </tr>
            <tr>
                <td>Tutorials</td>
                <td>Java</td>
                <td>Monitoring</td>
                <td>Java</td>
            </tr>
            <tr>
                <td>Console</td>
                <td>.NET/Silverlight</td>
                <td>Clustering/HA</td>
                <td>.NET/Silverlight</td>
            </tr>
            <tr>
                <td>?</td>
                <td>Flash/Flex</td>
                <td>Server API</td>
                <td>Flash/Flex</td>
            </tr>
        </tbody>
    </table>
</section>
</div>
