<div style="margin: auto; margin-bottom: 50px; border-radius: 10px; overflow: hidden; background-color: rgba( 0, 0, 0, 0.80 ); width: 640px; height: 480px;">

    <div style="background-color: rgba( 255, 255, 255, 0.60 ); height: 49px;">
        <div style="width: 25px; height: 25px; border-radius: 25px; background-color: red; margin-left: 12px; margin-top: 12px; float: left;"></div>
        <div style="width: 25px; height: 25px; border-radius: 25px; background-color: yellow; margin-left: 12px; margin-top: 12px; float: left;"></div>
        <div style="width: 25px; height: 25px; border-radius: 25px; background-color: green; margin-left: 12px; margin-top: 12px; float: left;"></div>
    </div>

    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        &gt;&nbsp;./welcome.dev
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #################################################
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Kaazing!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The always on, always connected web.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-= GET STARTED NOW =-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;Getting started is easy. Simply copy and&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;paste the following code snippet into your&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;preferred terminal application.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        #################################################
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.4em; height: 1.4em; line-height: 1.4em; margin-left: 12px; margin-top: 5px;">
        curl -d 'body={"message": "Hello world!"}' "http://kaazing.kevinhoyt.com:8161/admin/send/first?type=topic"
    </div>

</div>
