<!-- Interactive video feed -->
<div class="container-fluid">
    <div class="row" style="position: relative; height: 575px;">

        <!-- Video -->
        <div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden;">
            <video style="-webkit-filter: blur( 2px );" autoplay loop>
                <source src="video/interactive.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <!-- Welcome -->
        <div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: rgba( 0, 0, 0, 0.15 );">
            <div class="quickh1 text-left-responsive"><strong>Welcome Developers!</strong></div>
            <div class="quickh2 text-left-responsive">Connecting people and things in real-time is at the core of what we do here at Kaazing.  If this is your goal, then you can get started below with <a href=""><strong class="quicka">tutorials</strong></a>, <a href=""><strong class="quicka">guides</strong></a>, <a href=""><strong class="quicka">documentation</strong></a>, and more.</div>
        </div>

        <!-- Social -->
        <div style="position: absolute; left: 50px; bottom: 50px; width: 400px; height: 64px;">
            <i class="fa fa-twitter-square fa-4x"></i>
            <i class="fa fa-facebook-square fa-4x"></i>
            <i class="fa fa-youtube-square fa-4x"></i>
            <i class="fa fa-github fa-4x"></i>
        </div>

        <!-- Callout -->
        <div class="text-left-responsive" style="position: absolute; right: 50px; top: 50px; color: white; font-family: 'Exo'; font-weight: 100; text-shadow: 1px 1px 0 black; font-size: 1.5em; width: 235px;">
            THIS IS LIVE!
        </div>

        <!-- Callout highlight -->
        <div style="background-image: url( 'img/quickstart/live.circle.svg' ); background-position: center center; background-repeat: no-repeat; background-size: 100% 100%; width: 187px; height: 164px; position: absolute; right: 115px; top: 30px;"></div>

        <!-- Instructions -->
        <div class="text-left-responsive" style="position: absolute; right: 200px; bottom: 50px; color: white; font-family: 'Exo'; font-weight: 100; text-shadow: 1px 1px 0 black; font-size: 1.5em; width: 235px;">
            Pick a color and watch the logo change in real-time.
        </div>

        <!-- Instructions arrow -->
        <div style="background-image: url( 'img/quickstart/hydra.arrow.svg' ); background-position: center center; background-repeat: no-repeat; background-size: 100% 100%; width: 118px; height: 189px; position: absolute; right: 127px; bottom: 60px;"></div>
        <div style="background-image: url( 'img/quickstart/underscore.svg' ); background-position: center center; background-repeat: no-repeat; background-size: 100% 100%; width: 124px; height: 12px; position: absolute; right: 216px; bottom: 38px;"></div>

        <!-- Color options -->
        <div style="position: absolute; right: 50px; bottom: 55px;">
            <div style="width: 50px; height: 50px; background-color: red; border: solid 3px white; border-radius: 4px; box-shadow: 1px 1px 0 0 black;"></div>
            <div style="width: 50px; height: 50px; background-color: green; border: solid 3px rgba( 255, 255, 255, 0 ); border-radius: 4px; margin-top: 25px; box-shadow: 1px 1px 0 0 black;"></div>
            <div style="width: 50px; height: 50px; background-color: blue; border: solid 3px rgba( 255, 255, 255, 0 ); border-radius: 4px; margin-top: 25px; box-shadow: 1px 1px 0 0 black;"></div>
        </div>

    </div>
</div>

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Exo:100,400' type='text/css'>

<style type="text/css">
i {
    color: white;
    float: left;
    margin-right: 30px;
    text-shadow: 1px 1px 0 black;
    width: 55px;
    height: 64px;
}

video {
    max-width: 100%;
    height: auto;
}

.quicka {
    color: #33cc33;
    text-decoration: underline;
}

.quickh1 {
    color: #33cc33;
    font-size: 2.5em;
    text-shadow: 1px 1px 0 black;
    position: absolute;
    left: 50px;
    top: 30px;
}

.quickh2 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 0 black;
    position: absolute;
    left: 50px;
    top: 100px;
    width: 512px;
}
</style>

<!-- Terminal window with cURL -->
<!--
<div style="margin: auto; margin-bottom: 50px; border-radius: 10px; overflow: hidden; background-color: rgba( 0, 0, 0, 0.80 ); width: 640px; height: 480px; text-align: left;">

    <div style="background-color: rgba( 255, 255, 255, 0.60 ); height: 49px;">
        <div style="width: 25px; height: 25px; border-radius: 25px; background-color: red; margin-left: 12px; margin-top: 12px; float: left;"></div>
        <div style="width: 25px; height: 25px; border-radius: 25px; background-color: yellow; margin-left: 12px; margin-top: 12px; float: left;"></div>
        <div style="width: 25px; height: 25px; border-radius: 25px; background-color: green; margin-left: 12px; margin-top: 12px; float: left;"></div>
    </div>

    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        &gt;&nbsp;./welcome.dev
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #################################################
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Kaazing!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The always on, always connected web.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-= GET STARTED NOW =-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;Getting started is easy. Simply copy and&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;paste the following code snippet into your&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;preferred terminal application.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        #################################################
    </div>
    <div style="color: white; font-family: monospace; font-size: 1.2em; height: 1.2em; line-height: 1.2em; margin-left: 12px; margin-top: 5px;">
        curl -d 'body={"message": "Hello world!"}' "http://kaazing.kevinhoyt.com:8161/admin/send/first?type=topic"
    </div>

</div>
-->