<!-- start:header -->
<div id="header">
    <div class="overlay">
        <nav class="navbar" role="navigation">
            <div class="container">

                <div class="container tagline">
                  <h1>Always On. Always Connected. Real Time.</h1>
                  <br>
                  <h3>Complete open source platform for connected devices and systems.</h3>
                </div>
                <div class="row logos ">
                  <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
                    <img src="{{ site.url }}/img/logos/intel.png" height="30px">
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
                    <img src="{{ site.url }}/img/logos/google.png" height="30px">
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
                    <img src="{{ site.url }}/img/logos/oracle.png" height="30px">
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
                    <img src="{{ site.url }}/img/logos/hsbc.png" height="30px">
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
                    <img src="{{ site.url }}/img/logos/bp.png" height="30px">
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 text-center">
                    <img src="{{ site.url }}/img/logos/tibco.png" height="30px">
                  </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- end:header -->
