---
layout: demo
---
<div class="container">
<!-- start:store detail -->
<div class="row" id="store-detail">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                  <div class="col-md-5">
                    <iframe class="youtube-player" type="text/html" src="{{page.section1-video}}" width="570" height="320.625" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  </div>
                  <div class="col-md-2">
                  &nbsp;
                  </div>
                  <div class="col-md-5" style="text-align: left;">
                    <div class="panel-heading">
                      <h1 class="panel-title">{{page.section1-title}}</h1>
                    </div>
                    {{page.section1-body}}
                  </div>
                </div>
                <p>&nbsp;</p>
                <!-- <div class="col-md-12" style="text-align:left;"> -->
                  <div class="panel-heading">
                    <h1 class="panel-title">Features</h1>
                  </div>
                  <br>
                  <strong>Categories</strong>
                  <br>
                  <strong>Technologies used</strong>
                  <br>
                  <strong>Devices supported</strong>
                  <br>
                  <strong>Demo URL</strong>
                <!-- </div> -->
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-md-12">
                      <div class="panel-heading">
                        <h1 class="panel-title">Screenshots</h1>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      <p>&nbsp;</p>
                    </div>
                    <div class="col-md-6">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}1.{{page.screenshot-img-extension}}">
                                    <img src="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}1.{{page.screenshot-img-extension}}" />
                                </li>
                                <li data-thumb="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}2.{{page.screenshot-img-extension}}">
                                    <img src="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}2.{{page.screenshot-img-extension}}" />
                                </li>
                                <li data-thumb="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}3.{{page.screenshot-img-extension}}">
                                    <img src="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}3.{{page.screenshot-img-extension}}" />
                                </li>
                                <li data-thumb="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}4.{{page.screenshot-img-extension}}">
                                    <img src="{{site.url}}/img/demos/{{page.screenshot-img-prefix}}4.{{page.screenshot-img-extension}}" />
                                </li>
                            </ul>
                        </div>
                      </div>
                </div>
                <div class="row">
                  <p>&nbsp;</p>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="panel-heading">
                      <h1 class="panel-title">Related Demos</h1>
                    </div>

                  </div>
                </div>
              </div>

        </div>
    </div>
</div>
</div>
<!-- end:store detail -->
